<div class="page-content-inner">
    <section class="panel">
        <div class="panel-heading">

        </div>
        <div class="panel-body">
            <div class="row">
                <div class="menu-info-block">
                    <div style="display:inline-block;position:relative;" 
ng-show="!showLoader && !errorBackend">
                        <div class="dropdown margin-inline" 
style="display:inline-block;position:relative;">
                            <div class="menu-user-block 
menu-notifications" style="float:right;margin-top:5px;">

                                <div class="dropdown">
                                    <button class="btn dropdown-toggle" 
type="button" id="dropdownMenuButton2" data-toggle="dropdown" 
aria-haspopup="true" aria-expanded="false">
                                        {{page}}
                                    </button>
                                    <div class="dropdown-menu" 
aria-labelledby="dropdownMenuButton2">
                                        <a class="dropdown-item" 
style="cursor:pointer;text-align: center;vertical-align:middle;" 
ng-click="onSelectBoxChange('five')">10</a>
                                        <div 
class="dropdown-divider"></div>
                                        <a class="dropdown-item" 
style="cursor:pointer;text-align: center;vertical-align:middle;" 
ng-click="onSelectBoxChange('ten')">20</a>
                                        <div 
class="dropdown-divider"></div>
                                        <a class="dropdown-item" 
style="cursor:pointer;text-align: center;vertical-align:middle;" 
ng-click="onSelectBoxChange('twenty')">50</a>
                                    </div>
                                </div>
            
                                <div 
style="display:inline-block;position:relative;">
                                    <button data-toggle="tooltip" 
data-placement="top" title="hide thumbnails packages" 
ng-show="!thumbnails_show" class="btn btn-clear" ng-click="thumb = 
!thumb;togglethumbnails()">thumbnails</button>
                                    <button ng-show="thumbnails_show" 
class="btn btn-default" ng-click="thumb = 
!thumb;togglethumbnails()"><strike>thumbnails</strike></button>
                                </div>
                                <div 
style="display:inline-block;position:relative;">
                                    <button data-toggle="tooltip" 
data-placement="top" title="hide packages which are not on ftp" 
ng-show="!ftp_show" class="btn btn-clear" ng-click="ftp = 
!ftp;toggleftp()">on ftp</button>
                                    <button ng-show="ftp_show" 
class="btn btn-default" ng-click="ftp = !ftp;toggleftp()"><strike>on 
ftp</strike></button>
                                </div>
								 <div 
class="search-block" style="display:inline-block;position:relative;">
                                    <div class="form-input-icon 
form-input-icon-right" style="margin-bottom:30px">
                                        <i class="fa fa-arrow-down" 
style="color:green;" ng-show="is_name && search.path"></i>
                                    </div>
                                    <div class="form-input-icon 
form-input-icon-right">
                                        <i class="icmn-cross"></i>
                                        <input type="text" 
style="width:275px;margin-top:5px;" class="form-control form-control-sm 
form-control-rounded" placeholder="Search..." ng-model="search.path" 
ng-change="search_brick=search.path">
                                        <button type="submit" 
class="search-block-submit" ng-click="delete(n.type);"></button>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <div class="search-table-outter wrapper">
					 
                        
                    
                        <div>
                            <table class="table table-bordered 
table-striped">
                                <thead>
                                <tr>
                                    
                                    <th>
                                            name
                                    </th>
                                    <th>
                                            age
                                    </th>
                                    <th>
                                            born
                                    </th>
                                    <th>
                                        nationality
                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="n in data">
                                    <td>{{n.name}}</td>
                                    <td>{{n.age}}</td>
                                    <td>{{n.born}}</td>
                                    <td>{{n.nationality}}</td>
                                </tr>

                                </tbody>
                            </table>
                           
                            <div 
style="margin-left:15px;margin-top:10px;float:left">
                                Showing {{test.length}} entries
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Page Script -->
<style>
    .highlighted { background: yellow }
</style>
<script>
    $(function () {
	  
        $("[data-toggle=popover]").popover();
        $("[data-toggle=popover-hover]").popover({
            trigger: 'hover'
        });
        $("[data-toggle=tooltip]").tooltip();

    });
</script>

